

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
  height: 100%;
}

.navbar_cor {
    background-color: #e9e357;
    padding: 40px
}

.navbar_cor a{

   color: rgb(0, 0, 0);
   text-decoration: none;
    padding-right: 80px;}

.test1{
    background-color: #e9e357;
    height: 100vh;
   
}


.test2{
    background-color: #ff66c4;
    height: 100vh;
}


.test3{
    background-color: #ff7029;
    height: 110vh;
}

.test4{
    background-color: #a13db3;
    height: 110vh;
    align-items: center;

}


.tela01{
    background-color: ;
}

.text01{
  margin-left: 120px;
  margin-right: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.picturelogo01{
    margin-top: 60px;
    
}

.banner1{
    margin-right: 70px;
    height: 60vh;
}

.button01{
    margin-left: 160px;
    margin-top: 50px;
    height: 20%;
}
.text2{
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button02{
    margin-left: 90px;
    margin-top: 50px;
    height: 20%;
}

.imgpag3{
    margin-top: 40px;
}

.carousel-item{
    height: 30%;
}

.text3{
 align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.top11{
    background-color: #fde8b3;
    height: 60px;
    padding: 40px;
}

.rodape{
    background-color: #004aad;
    height: 60vh;
}

.font_par{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.fontrs{
  font-family: 'Times New Roman', Times, serif;
}