    .cabeçalhologo{
    text-align: center;
    background-color: #e9e357;";
    }
    .background{
    background-color:#e9e357;
    height: 110vh;
}

.espaço{
    margin-left: 40px;
}

.ajuda{
    height: 40vh;
}
.rodape{
    background-color: #004aad;
    height: 60vh;
}