html, body {
  height: 100%;
}

.navbar_cor {
    background-color: #e9e357;
    padding: 40px
}

.navbar_cor a{

   color: rgb(0, 0, 0);
   text-decoration: none;
    padding-right: 80px;}

.test1{
    background-color: #e9e357;
    height: 100vh;
   
}


.test2{
    background-color: #ff66c4;
    height: 100vh;
}


.test3{
    background-color: #ff7029;
    height: 110vh;
}

.test4{
    background-color: #8c1f9e;
    height: 120vh;
    align-items: center;

}


.tela01{
    background-color: ;
}

.text01{
  margin-left: 120px;
  margin-right: 150px;
}

.picturelogo01{
    margin-top: 60px;
    
}

.banner1{
    margin-right: 70px;
    height: 60vh;
}

.button01{
    margin-left: 160px;
    margin-top: 50px;
    height: 20%;
}
.text2{
    margin-left: 100px;
}
.button02{
    margin-left: 90px;
    margin-top: 50px;
    height: 20%;
}

.imgpag3{
    margin-top: 40px;
}

.carousel-item{
    height: 30%;
}

.text3{
 align-items: center;

}


.top11{
    background-color: #fde8b3;
    height: 60px;
    padding: 40px;
}

.rodape{
    background-color: #004aad;
    height: 60vh;
}