    .cabeçalhologo{
    text-align: center;
    }
    .carrosel{
    background-color: #FFC067;
    height: 160vh;
    align-items: center;

}

.letter{
    color: #000000;
}

.rodape{
    background-color: #ff7029;
    height: 60vh;
}