    .cabeçalhologo{
    text-align: center;
    }
    .carrosel{
    background-color: #8c1f9e;
    height: 160vh;
    align-items: center;

}

.letter{
    color: #ffffff;
}

.rodape{
    background-color: #004aad;
    height: 60vh;
}