.cabeçalho{
    text-align: center;

}
.rossi{
    margin-top: 40px;
}

.botao{
    text-align: center;

}

.relatos{
    background-color: ;
}
.rodape{
    background-color: #004aad;
    height: 60vh;
}