html, body {
  height: 100%;
}

.navbar_cor {
    background-color: #e9e357;
    padding: 40px
}

.navbar_cor a{

   color: rgb(0, 0, 0);
   text-decoration: none;
    padding-right: 80px;}

.test1{
    background-color: #e9e357;
    height: 100vh;
   
}


.test2{
    background-color: #e9e357;
    height: 100vh;
}


.test3{
    background-color: #e9e357;
    height: 100vh;
}

.tela01{
    background-color: ;
}

.text01{
    margin-top: 100px;
}